<ion-content class="ion-padding after-login-bg">
    <h2 class="page-title" *ngIf="!userName">Forgot Password ?</h2>
    <h2 class="page-title" *ngIf="userName">Forgot Username ?</h2>
    <form>
        <ion-item lines="full" *ngIf="!userName" class="ion-ele">
            <ion-label position="floating">UserName/Mobile/Email</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item lines="full" *ngIf="userName" class="ion-ele">
            <ion-label position="floating">Email/Mobile</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-row>
            <ion-col class="ion-text-center ion-margin-top">
                <ion-button type="submit" shape="round" expand="block" class="ion-margin-bottom ion-button">SUBMIT</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center ion-margin-top">
                <a [routerLink]="['/login']"  class="small-text">Login</a>&nbsp;&nbsp;
                <a [routerLink]="['/forgot-password']" *ngIf="userName" class="small-text" [queryParams]="{ userName: false}">Forgot Password?</a>
				<a [routerLink]="['/forgot-password']" *ngIf="!userName" class="small-text" [queryParams]="{ userName: true}">Forgot UserName?</a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center ion-margin-top">
                <a [routerLink]="['/signup']" class="small-text ion-margin-bottom">New user ? Register with us!</a>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
