<ion-content class="ion-padding after-login-bg">
    <h2 class="page-title"> SignUp</h2>
    <form class="signup">
        <ion-item class="ion-ele">
            <ion-label position="floating">User Name</ion-label>
             <ion-input type="text" required></ion-input>
            <ion-icon name="cog-outline" slot="start"></ion-icon>
        </ion-item>        
        <ion-item class="ion-ele">
            <ion-label position="floating">Mobile Number</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">E-mail Id</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>
		<ion-item class="ion-ele">
            <ion-label position="floating">Address</ion-label>
            <ion-textarea></ion-textarea>
            <ion-icon name="chatbox-outline" slot="start"></ion-icon>
        </ion-item>
		<ion-item class="ion-ele">
            <ion-label position="floating">City</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="diamond-outline" slot="start"></ion-icon>
        </ion-item>
		<ion-item class="ion-ele">
            <ion-label position="floating">State</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="file-tray-outline" slot="start"></ion-icon>
        </ion-item>
		<ion-item class="ion-ele">
            <ion-label position="floating">Pin Code</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="diamond-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-row>
            <ion-col class="ion-text-center ion-margin-top">
                <ion-button type="submit" shape="round" expand="block" class="ion-margin-bottom">Get Started</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
