.login-form {
    a.small-text {
        text-decoration: none;
    }
}

.ion-ele {
    border-radius: 15px;
    border: 1px solid;
    border-width: thin;
    --background: transparent;
    margin-bottom: 5px;
}